# HDF5 Storage

Let's convert our big dataframe into hdf..

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import os

os.chdir("../..")

In [2]:
import pandas as pd
import numpy as np

In [3]:
hdf = pd.HDFStore('tmp/storage.h5')
hdf.put('tables/t1', pd.DataFrame(np.random.rand(20,5)), format="t")
hdf.put('tables/t2',pd.DataFrame(np.random.rand(10,3)))
hdf.put('new_tables/t1', pd.DataFrame(np.random.rand(15,2)))

In [4]:
help(hdf.put)

Help on method put in module pandas.io.pytables:

put(key, value, format=None, append=False, **kwargs) method of pandas.io.pytables.HDFStore instance
    Store object in HDFStore

    Parameters
    ----------
    key      : object
    value    : {Series, DataFrame, Panel}
    format   : 'fixed(f)|table(t)', default is 'fixed'
        fixed(f) : Fixed format
                   Fast writing/reading. Not-appendable, nor searchable
        table(t) : Table format
                   Write as a PyTables Table structure which may perform
                   worse but allow more flexible operations like searching
                   / selecting subsets of the data
    append   : boolean, default False
        This will force Table format, append the input data to the
        existing.
    data_columns : list of columns to create as data columns, or True to
        use all columns. See
        `here <http://pandas.pydata.org/pandas-docs/stable/io.html#query-via-data-columns>`__ # noqa
    encoding : default None, provide an encoding for strings
    dropna   : boolean, default False, do not write an ALL nan row to
        the store settable by the option 'io.hdf.dropna_table'

In [5]:
hdf.get("tables/t1")

           0         1         2         3         4
0   0.406042  0.154093  0.521200  0.048527  0.709261
1   0.096157  0.557304  0.264693  0.334398  0.262816
2   0.385333  0.754458  0.596086  0.646278  0.231161
3   0.677457  0.228545  0.103853  0.722173  0.686679
4   0.307157  0.738052  0.014942  0.806331  0.012467
5   0.616104  0.041277  0.137958  0.484205  0.157189
6   0.247758  0.767853  0.976521  0.863641  0.831593
7   0.094634  0.763372  0.767784  0.513562  0.023458
8   0.571727  0.636815  0.146419  0.727041  0.197013
9   0.641945  0.537970  0.707037  0.871619  0.737265
10  0.010638  0.950720  0.308645  0.593334  0.359374
11  0.292102  0.216843  0.244925  0.439783  0.846750
12  0.721052  0.218392  0.521958  0.805212  0.696532
13  0.461580  0.461717  0.493888  0.660910  0.841225
14  0.541773  0.035307  0.231796  0.051061  0.453302
15  0.212119  0.383627  0.519132  0.950867  0.639287
16  0.520289  0.989797  0.171443  0.807701  0.093629
17  0.196973  0.849575  0.330953  0.481787  0.426537
18  0.946222  0.311334  0.737025  0.011789  0.798684
19  0.163981  0.277903  0.674958  0.770730  0.687191

In [6]:
hdf.put("tables/t1", pd.DataFrame(np.random.rand(20,5)), append=True, format='t')

In [7]:
df = hdf.get('tables/t1')
df

           0         1         2         3         4
0   0.406042  0.154093  0.521200  0.048527  0.709261
1   0.096157  0.557304  0.264693  0.334398  0.262816
2   0.385333  0.754458  0.596086  0.646278  0.231161
3   0.677457  0.228545  0.103853  0.722173  0.686679
4   0.307157  0.738052  0.014942  0.806331  0.012467
5   0.616104  0.041277  0.137958  0.484205  0.157189
6   0.247758  0.767853  0.976521  0.863641  0.831593
7   0.094634  0.763372  0.767784  0.513562  0.023458
8   0.571727  0.636815  0.146419  0.727041  0.197013
9   0.641945  0.537970  0.707037  0.871619  0.737265
10  0.010638  0.950720  0.308645  0.593334  0.359374
11  0.292102  0.216843  0.244925  0.439783  0.846750
12  0.721052  0.218392  0.521958  0.805212  0.696532
13  0.461580  0.461717  0.493888  0.660910  0.841225
14  0.541773  0.035307  0.231796  0.051061  0.453302
15  0.212119  0.383627  0.519132  0.950867  0.639287
16  0.520289  0.989797  0.171443  0.807701  0.093629
17  0.196973  0.849575  0.330953  0.481787  0.426537
18  0.946222  0.311334  0.737025  0.011789  0.798684
19  0.163981  0.277903  0.674958  0.770730  0.687191
0   0.870738  0.371241  0.871041  0.617498  0.553131
1   0.457865  0.009186  0.729517  0.340632  0.133291
2   0.650204  0.827882  0.976101  0.889195  0.107797
3   0.204822  0.142747  0.542702  0.335417  0.315802
4   0.909291  0.699949  0.116240  0.071750  0.659589
5   0.470742  0.424632  0.130783  0.250906  0.718349
6   0.082233  0.164235  0.768716  0.102757  0.116901
7   0.968441  0.352188  0.219470  0.702966  0.764217
8   0.838590  0.380289  0.312373  0.118454  0.499764
9   0.298513  0.371568  0.978916  0.565007  0.946361
10  0.949433  0.132188  0.788997  0.127541  0.091523
11  0.495599  0.873275  0.771627  0.427808  0.886867
12  0.738988  0.624684  0.270427  0.375621  0.340258
13  0.426514  0.237582  0.962196  0.113190  0.267042
14  0.016948  0.951922  0.395724  0.042222  0.447013
15  0.879323  0.343719  0.992422  0.414403  0.833559
16  0.247089  0.670042  0.514593  0.693181  0.936850
17  0.174471  0.596607  0.746126  0.289331  0.923621
18  0.965287  0.977249  0.822118  0.707683  0.849076
19  0.278996  0.291895  0.067660  0.262881  0.917175

Observemos que el índice se caga con esto...

In [8]:
df.loc[0]

          0         1         2         3         4
0  0.406042  0.154093  0.521200  0.048527  0.709261
0  0.870738  0.371241  0.871041  0.617498  0.553131

In [9]:
df.iloc[0]

0    0.406042
1    0.154093
2    0.521200
3    0.048527
4    0.709261
Name: 0, dtype: float64

# Remove dataframe

In [10]:
help(hdf.remove)

Help on method remove in module pandas.io.pytables:

remove(key, where=None, start=None, stop=None) method of pandas.io.pytables.HDFStore instance
    Remove pandas object partially by specifying the where condition

    Parameters
    ----------
    key : string
        Node to remove or delete rows from
    where : list of Term (or convertable) objects, optional
    start : integer (defaults to None), row number to start selection
    stop  : integer (defaults to None), row number to stop selection

    Returns
    -------
    number of rows removed (or None if not a Table)

    Exceptions
    ----------
    raises KeyError if key is not a valid store

# Our dataset

In [11]:
hdf = pd.HDFStore("output/instances.h5")

In [12]:
hdf.keys()

['/plain']

In [14]:
help(hdf.select)

Help on method select in module pandas.io.pytables:

select(key, where=None, start=None, stop=None, columns=None, iterator=False, chunksize=None, auto_close=False, **kwargs) method of pandas.io.pytables.HDFStore instance
    Retrieve pandas object stored in file, optionally based on where
    criteria

    Parameters
    ----------
    key : object
    where : list of Term (or convertable) objects, optional
    start : integer (defaults to None), row number to start selection
    stop  : integer (defaults to None), row number to stop selection
    columns : a list of columns that if not None, will limit the return
        columns
    iterator : boolean, return an iterator, default False
    chunksize : nrows to include in iteration, return an iterator
    auto_close : boolean, should automatically close the store when
        finished, default is False

    Returns
    -------
    The selected object

In [15]:
keys = hdf.select("plain", columns=["subject_id"]).subject_id.unique()

TypeError: cannot pass a column specification when reading a Fixed format store. this store must be selected in its entirety

In [ ]:

for subject_id in keys[:4]:
    df = hdf.select("plain", where="subject_id = '{}'".format(subject_id) )
    print(df.shape)

In [ ]:
hdf.put