# HDF5 Storage

Let's convert our big dataframe into hdf..

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import os

os.chdir("../..")

In [2]:
import pandas as pd
import numpy as np

In [3]:
hdf = pd.HDFStore('tmp/storage.h5')
hdf.put('tables/t1', pd.DataFrame(np.random.rand(20,5)), format="t")
hdf.put('tables/t2',pd.DataFrame(np.random.rand(10,3)))
hdf.put('new_tables/t1', pd.DataFrame(np.random.rand(15,2)))

In [4]:
help(hdf.put)

Help on method put in module pandas.io.pytables:

put(key, value, format=None, append=False, **kwargs) method of pandas.io.pytables.HDFStore instance
    Store object in HDFStore

    Parameters
    ----------
    key      : object
    value    : {Series, DataFrame, Panel}
    format   : 'fixed(f)|table(t)', default is 'fixed'
        fixed(f) : Fixed format
                   Fast writing/reading. Not-appendable, nor searchable
        table(t) : Table format
                   Write as a PyTables Table structure which may perform
                   worse but allow more flexible operations like searching
                   / selecting subsets of the data
    append   : boolean, default False
        This will force Table format, append the input data to the
        existing.
    data_columns : list of columns to create as data columns, or True to
        use all columns. See
        `here <http://pandas.pydata.org/pandas-docs/stable/io.html#query-via-data-columns>`__ # noqa
    encoding : default None, provide an encoding for strings
    dropna   : boolean, default False, do not write an ALL nan row to
        the store settable by the option 'io.hdf.dropna_table'

In [5]:
hdf.get("tables/t1")

           0         1         2         3         4
0   0.397165  0.434058  0.905880  0.494998  0.150251
1   0.735756  0.054248  0.636789  0.883023  0.005405
2   0.157007  0.636682  0.926090  0.116384  0.569861
3   0.214447  0.964814  0.259000  0.212255  0.772999
4   0.250324  0.864906  0.515566  0.972046  0.742916
5   0.570705  0.240093  0.227773  0.104079  0.771592
6   0.399004  0.178969  0.024004  0.309798  0.857720
7   0.617182  0.278207  0.875775  0.402956  0.615365
8   0.841933  0.236114  0.847049  0.980261  0.762534
9   0.268097  0.451734  0.778663  0.823411  0.385355
10  0.202888  0.324874  0.567199  0.781399  0.185201
11  0.646939  0.937812  0.544965  0.922356  0.013962
12  0.306329  0.825243  0.340149  0.018293  0.951298
13  0.891527  0.699182  0.119360  0.349683  0.729340
14  0.705871  0.709762  0.086586  0.427009  0.928229
15  0.748440  0.761208  0.573565  0.440677  0.582229
16  0.139768  0.199139  0.756986  0.963357  0.510984
17  0.761951  0.904286  0.428277  0.213763  0.542145
18  0.717056  0.128338  0.104843  0.289890  0.103319
19  0.989328  0.601722  0.766138  0.747198  0.315289

In [6]:
hdf.put("tables/t1", pd.DataFrame(np.random.rand(20,5)), append=True, format='t')

In [7]:
df = hdf.get('tables/t1')
df

           0         1         2         3         4
0   0.397165  0.434058  0.905880  0.494998  0.150251
1   0.735756  0.054248  0.636789  0.883023  0.005405
2   0.157007  0.636682  0.926090  0.116384  0.569861
3   0.214447  0.964814  0.259000  0.212255  0.772999
4   0.250324  0.864906  0.515566  0.972046  0.742916
5   0.570705  0.240093  0.227773  0.104079  0.771592
6   0.399004  0.178969  0.024004  0.309798  0.857720
7   0.617182  0.278207  0.875775  0.402956  0.615365
8   0.841933  0.236114  0.847049  0.980261  0.762534
9   0.268097  0.451734  0.778663  0.823411  0.385355
10  0.202888  0.324874  0.567199  0.781399  0.185201
11  0.646939  0.937812  0.544965  0.922356  0.013962
12  0.306329  0.825243  0.340149  0.018293  0.951298
13  0.891527  0.699182  0.119360  0.349683  0.729340
14  0.705871  0.709762  0.086586  0.427009  0.928229
15  0.748440  0.761208  0.573565  0.440677  0.582229
16  0.139768  0.199139  0.756986  0.963357  0.510984
17  0.761951  0.904286  0.428277  0.213763  0.542145
18  0.717056  0.128338  0.104843  0.289890  0.103319
19  0.989328  0.601722  0.766138  0.747198  0.315289
0   0.431483  0.176694  0.818300  0.899339  0.505698
1   0.255697  0.081837  0.371279  0.707805  0.073078
2   0.134598  0.455202  0.299686  0.744222  0.620012
3   0.134216  0.158629  0.727293  0.377434  0.479397
4   0.649949  0.576071  0.405688  0.373093  0.063191
5   0.303493  0.257156  0.179596  0.322065  0.050469
6   0.307949  0.998013  0.201013  0.428322  0.461572
7   0.321751  0.556868  0.145638  0.056514  0.639192
8   0.365729  0.550855  0.694233  0.266012  0.830821
9   0.166006  0.232182  0.572348  0.365411  0.818448
10  0.884256  0.110934  0.368256  0.498965  0.935164
11  0.232934  0.307945  0.345985  0.404104  0.900459
12  0.298928  0.002476  0.381359  0.028252  0.630342
13  0.438163  0.484761  0.189017  0.447328  0.208599
14  0.086769  0.584070  0.288762  0.981513  0.228038
15  0.591272  0.248793  0.025960  0.838371  0.373583
16  0.711663  0.783376  0.282439  0.758772  0.318028
17  0.174291  0.212847  0.975539  0.768731  0.463478
18  0.261066  0.999325  0.235973  0.260525  0.033079
19  0.792785  0.974086  0.147567  0.920367  0.777140

Observemos que el Ã­ndice se caga con esto...

In [8]:
df.loc[0]

          0         1        2         3         4
0  0.397165  0.434058  0.90588  0.494998  0.150251
0  0.431483  0.176694  0.81830  0.899339  0.505698

In [9]:
df.iloc[0]

0    0.397165
1    0.434058
2    0.905880
3    0.494998
4    0.150251
Name: 0, dtype: float64

# Remove dataframe

In [10]:
help(hdf.remove)

Help on method remove in module pandas.io.pytables:

remove(key, where=None, start=None, stop=None) method of pandas.io.pytables.HDFStore instance
    Remove pandas object partially by specifying the where condition

    Parameters
    ----------
    key : string
        Node to remove or delete rows from
    where : list of Term (or convertable) objects, optional
    start : integer (defaults to None), row number to start selection
    stop  : integer (defaults to None), row number to stop selection

    Returns
    -------
    number of rows removed (or None if not a Table)

    Exceptions
    ----------
    raises KeyError if key is not a valid store

# Our dataset

In [11]:
hdf = pd.HDFStore("output/instances.h5")

In [12]:
hdf.keys()

['/plain']

In [13]:
help(hdf.put)

Help on method put in module pandas.io.pytables:

put(key, value, format=None, append=False, **kwargs) method of pandas.io.pytables.HDFStore instance
    Store object in HDFStore

    Parameters
    ----------
    key      : object
    value    : {Series, DataFrame, Panel}
    format   : 'fixed(f)|table(t)', default is 'fixed'
        fixed(f) : Fixed format
                   Fast writing/reading. Not-appendable, nor searchable
        table(t) : Table format
                   Write as a PyTables Table structure which may perform
                   worse but allow more flexible operations like searching
                   / selecting subsets of the data
    append   : boolean, default False
        This will force Table format, append the input data to the
        existing.
    data_columns : list of columns to create as data columns, or True to
        use all columns. See
        `here <http://pandas.pydata.org/pandas-docs/stable/io.html#query-via-data-columns>`__ # noqa
    encoding : default None, provide an encoding for strings
    dropna   : boolean, default False, do not write an ALL nan row to
        the store settable by the option 'io.hdf.dropna_table'

In [14]:
help(hdf.select)

Help on method select in module pandas.io.pytables:

select(key, where=None, start=None, stop=None, columns=None, iterator=False, chunksize=None, auto_close=False, **kwargs) method of pandas.io.pytables.HDFStore instance
    Retrieve pandas object stored in file, optionally based on where
    criteria

    Parameters
    ----------
    key : object
    where : list of Term (or convertable) objects, optional
    start : integer (defaults to None), row number to start selection
    stop  : integer (defaults to None), row number to stop selection
    columns : a list of columns that if not None, will limit the return
        columns
    iterator : boolean, return an iterator, default False
    chunksize : nrows to include in iteration, return an iterator
    auto_close : boolean, should automatically close the store when
        finished, default is False

    Returns
    -------
    The selected object

In [15]:
keys = hdf.select("plain", columns=["subject_id"]).subject_id.unique()

In [16]:
keys

array(['29426001', '12521001', '14023001', '18531001', '16893001',
       '945001', '23794001', '1414001', '5568001', '27946001', '25922001',
       '27163001', '10229001', '16683001', '24540001', '17674001',
       '23298001', '27030001', '24888001', '20668001', '1635001',
       '13431001', '27157001', '24053001', '11632001', '1609001',
       '29789001', '8762001', '16943001', '26715001', '36001', '7615001',
       '19561001', '29164001', '32459001', '16779001', '26721001',
       '2215001', '22109001', '9689001', '499001', '20947001', '15641001',
       '31397001', '3703001', '25217001', '11551001', '14998001',
       '29063004', '29257001', '20688001', '5510001', '24227001',
       '23732001', '9503001', '13252001', '4824001', '16637001', '7330001',
       '630001', '29273001', '21601001', '11693001', '16266001',
       '18112001', '25302001', '22072001', '27496001', '12702001',
       '27131001', '12137001', '5857001', '3109001', '17435001', '6830001',
       '10882001', '8834001', '27846001', '7488001', '10924001',
       '12168001', '13235001', '5224001', '18077001', '15424001',
       '23272001', '25871001', '31102001', '17005001', '24101001',
       '4305001', '255001', '32505001', '28005001', '8982001', '15362001',
       '26333001', '2089001', '28970001', '1491001', '26636001', '4971001',
       '31056001', '6694001', '7385001', '17576001', '30261001',
       '22233001', '782001', '11627001', '10444001', '3195001', '13640002',
       '19491001', '9809001', '5251001', '22650001', '3942001', '17436001',
       '31777001', '12900001', '21120001', '232001', '17962001', '7610001',
       '3800001', '23344001', '18967001', '18046001', '10729001',
       '30243001', '19845001', '22337001', '13863001', '4949001',
       '2681001', '27058001', '16003001', '21668001', '358001', '2109001'], dtype=object)

In [19]:

for subject_id in keys[:4]:
    df = hdf.select("plain", where="subject_id = '{}'".format(subject_id) )
    print(df.shape)

(1980, 121)
(1980, 121)
(2700, 121)
(1980, 121)