# HDF5 Storage

Let's convert our big dataframe into hdf..

In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline
import os

os.chdir("../..")

In [2]:
import pandas as pd
import numpy as np

In [3]:
hdf = pd.HDFStore('tmp/storage.h5')
hdf.put('tables/t1', pd.DataFrame(np.random.rand(20,5)), format="t")
hdf.put('tables/t2',pd.DataFrame(np.random.rand(10,3)))
hdf.put('new_tables/t1', pd.DataFrame(np.random.rand(15,2)))

In [4]:
hdf.get("tables/t1")

           0         1         2         3         4
0   0.890434  0.128086  0.296750  0.638465  0.261206
1   0.139995  0.848797  0.613994  0.891147  0.595317
2   0.395908  0.173537  0.079246  0.465442  0.076382
3   0.651570  0.733394  0.525382  0.246496  0.706202
4   0.865135  0.718879  0.065942  0.421361  0.966060
5   0.105555  0.773546  0.483113  0.809984  0.396646
6   0.004655  0.420758  0.617645  0.832312  0.622717
7   0.405594  0.381513  0.306107  0.671906  0.944457
8   0.013482  0.682802  0.499107  0.628442  0.888509
9   0.793489  0.919744  0.666641  0.900873  0.199408
10  0.138592  0.959859  0.054525  0.648363  0.883314
11  0.061849  0.724399  0.634987  0.579289  0.303020
12  0.809412  0.455911  0.226595  0.503846  0.266391
13  0.011632  0.835413  0.257547  0.539147  0.523980
14  0.507850  0.344058  0.866157  0.647030  0.566175
15  0.454535  0.947846  0.115665  0.556863  0.207410
16  0.256785  0.378839  0.462639  0.705074  0.710827
17  0.322611  0.841068  0.636202  0.504147  0.991848
18  0.335926  0.422078  0.790810  0.053006  0.437102
19  0.606080  0.676321  0.914158  0.513208  0.887635

In [6]:
hdf.put("tables/t1", pd.DataFrame(np.random.rand(20,5)), append=True, format='t')

In [15]:
df = hdf.get('tables/t1')
df

           0         1         2         3         4
0   0.890434  0.128086  0.296750  0.638465  0.261206
1   0.139995  0.848797  0.613994  0.891147  0.595317
2   0.395908  0.173537  0.079246  0.465442  0.076382
3   0.651570  0.733394  0.525382  0.246496  0.706202
4   0.865135  0.718879  0.065942  0.421361  0.966060
5   0.105555  0.773546  0.483113  0.809984  0.396646
6   0.004655  0.420758  0.617645  0.832312  0.622717
7   0.405594  0.381513  0.306107  0.671906  0.944457
8   0.013482  0.682802  0.499107  0.628442  0.888509
9   0.793489  0.919744  0.666641  0.900873  0.199408
10  0.138592  0.959859  0.054525  0.648363  0.883314
11  0.061849  0.724399  0.634987  0.579289  0.303020
12  0.809412  0.455911  0.226595  0.503846  0.266391
13  0.011632  0.835413  0.257547  0.539147  0.523980
14  0.507850  0.344058  0.866157  0.647030  0.566175
15  0.454535  0.947846  0.115665  0.556863  0.207410
16  0.256785  0.378839  0.462639  0.705074  0.710827
17  0.322611  0.841068  0.636202  0.504147  0.991848
18  0.335926  0.422078  0.790810  0.053006  0.437102
19  0.606080  0.676321  0.914158  0.513208  0.887635
0   0.146359  0.607962  0.376247  0.484694  0.699790
1   0.471774  0.733482  0.843596  0.100221  0.421999
2   0.033078  0.260832  0.671463  0.637612  0.032122
3   0.920533  0.133383  0.999116  0.513918  0.716270
4   0.631072  0.483214  0.996395  0.125593  0.877577
5   0.152069  0.728126  0.587069  0.102580  0.618006
6   0.926379  0.209359  0.511097  0.415361  0.609080
7   0.866313  0.529135  0.044933  0.640752  0.380835
8   0.914668  0.973186  0.858007  0.911455  0.076287
9   0.344228  0.925562  0.169494  0.600304  0.726375
10  0.297479  0.696762  0.145472  0.883447  0.838186
11  0.636007  0.594613  0.044663  0.163459  0.176806
12  0.702980  0.328450  0.101893  0.784659  0.440023
13  0.939551  0.280905  0.637176  0.775793  0.692808
14  0.303853  0.011556  0.077207  0.539231  0.105608
15  0.722053  0.286995  0.858922  0.197286  0.639484
16  0.846168  0.361435  0.674845  0.208692  0.031031
17  0.782628  0.379619  0.202839  0.081167  0.823384
18  0.767048  0.542686  0.175672  0.183031  0.497562
19  0.503898  0.658245  0.155092  0.569887  0.211895

Observemos que el Ã­ndice se caga con esto...

In [17]:
df.loc[0]

          0         1         2         3         4
0  0.890434  0.128086  0.296750  0.638465  0.261206
0  0.146359  0.607962  0.376247  0.484694  0.699790

In [18]:
df.iloc[0]

0    0.890434
1    0.128086
2    0.296750
3    0.638465
4    0.261206
Name: 0, dtype: float64

# Our dataset

In [19]:
hdf = pd.HDFStore("output/instances.h5")

In [20]:
hdf.keys()

['/subjects/s10229001',
 '/subjects/s10444001',
 '/subjects/s10729001',
 '/subjects/s10882001',
 '/subjects/s10924001',
 '/subjects/s11551001',
 '/subjects/s11627001',
 '/subjects/s11632001',
 '/subjects/s11693001',
 '/subjects/s12137001',
 '/subjects/s12168001',
 '/subjects/s12521001',
 '/subjects/s12702001',
 '/subjects/s12900001',
 '/subjects/s13235001',
 '/subjects/s13252001',
 '/subjects/s13431001',
 '/subjects/s13640002',
 '/subjects/s13863001',
 '/subjects/s14023001',
 '/subjects/s1414001',
 '/subjects/s1491001',
 '/subjects/s14998001',
 '/subjects/s15362001',
 '/subjects/s15424001',
 '/subjects/s15641001',
 '/subjects/s16003001',
 '/subjects/s1609001',
 '/subjects/s16266001',
 '/subjects/s1635001',
 '/subjects/s16637001',
 '/subjects/s16683001',
 '/subjects/s16779001',
 '/subjects/s16893001',
 '/subjects/s16943001',
 '/subjects/s17005001',
 '/subjects/s17435001',
 '/subjects/s17436001',
 '/subjects/s17576001',
 '/subjects/s17674001',
 '/subjects/s17962001',
 '/subjects/s18046001',
 '/subjects/s18077001',
 '/subjects/s18112001',
 '/subjects/s18531001',
 '/subjects/s18967001',
 '/subjects/s19491001',
 '/subjects/s19561001',
 '/subjects/s19845001',
 '/subjects/s20668001',
 '/subjects/s20688001',
 '/subjects/s2089001',
 '/subjects/s20947001',
 '/subjects/s2109001',
 '/subjects/s21120001',
 '/subjects/s21601001',
 '/subjects/s21668001',
 '/subjects/s22072001',
 '/subjects/s22109001',
 '/subjects/s2215001',
 '/subjects/s22233001',
 '/subjects/s22337001',
 '/subjects/s22650001',
 '/subjects/s232001',
 '/subjects/s23272001',
 '/subjects/s23298001',
 '/subjects/s23344001',
 '/subjects/s23732001',
 '/subjects/s23794001',
 '/subjects/s24053001',
 '/subjects/s24101001',
 '/subjects/s24227001',
 '/subjects/s24540001',
 '/subjects/s24888001',
 '/subjects/s25217001',
 '/subjects/s25302001',
 '/subjects/s255001',
 '/subjects/s25871001',
 '/subjects/s25922001',
 '/subjects/s26333001',
 '/subjects/s26636001',
 '/subjects/s26715001',
 '/subjects/s26721001',
 '/subjects/s2681001',
 '/subjects/s27030001',
 '/subjects/s27058001',
 '/subjects/s27131001',
 '/subjects/s27157001',
 '/subjects/s27163001',
 '/subjects/s27496001',
 '/subjects/s27846001',
 '/subjects/s27946001',
 '/subjects/s28005001',
 '/subjects/s28970001',
 '/subjects/s29063004',
 '/subjects/s29164001',
 '/subjects/s29257001',
 '/subjects/s29273001',
 '/subjects/s29426001',
 '/subjects/s29789001',
 '/subjects/s30243001',
 '/subjects/s30261001',
 '/subjects/s31056001',
 '/subjects/s3109001',
 '/subjects/s31102001',
 '/subjects/s31397001',
 '/subjects/s31777001',
 '/subjects/s3195001',
 '/subjects/s32459001',
 '/subjects/s32505001',
 '/subjects/s358001',
 '/subjects/s36001',
 '/subjects/s3703001',
 '/subjects/s3800001',
 '/subjects/s3942001',
 '/subjects/s4305001',
 '/subjects/s4824001',
 '/subjects/s4949001',
 '/subjects/s4971001',
 '/subjects/s499001',
 '/subjects/s5224001',
 '/subjects/s5251001',
 '/subjects/s5510001',
 '/subjects/s5568001',
 '/subjects/s5857001',
 '/subjects/s630001',
 '/subjects/s6694001',
 '/subjects/s6830001',
 '/subjects/s7330001',
 '/subjects/s7385001',
 '/subjects/s7488001',
 '/subjects/s7610001',
 '/subjects/s7615001',
 '/subjects/s782001',
 '/subjects/s8762001',
 '/subjects/s8834001',
 '/subjects/s8982001',
 '/subjects/s945001',
 '/subjects/s9503001',
 '/subjects/s9689001',
 '/subjects/s9809001']

In [15]:
subjects = [
    '/subjects/s18112001',
    '/subjects/s18531001',
    '/subjects/s18967001',
    '/subjects/s19491001',
    '/subjects/s19561001',
    '/subjects/s19845001',
    '/subjects/s20668001',
    '/subjects/s20688001',
    '/subjects/s2089001',
]

for subject in subjects:
    df = hdf.select(subject)
    
    print(df.shape)

(1980, 121)
(1980, 121)
(900, 121)
(2700, 121)
(2520, 121)
(1980, 121)
(900, 121)
(2520, 121)
(1800, 121)

In [11]:
df.shape

(2520, 121)